:root {
  --background-color: #36394A;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 0 20px;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 0 40px;
  }
}
