language: php
addons:
  apt:
    sources:
    - mysql-5.7-trusty
    packages:
    - mysql-server
    - mysql-client
php:
- 7.1
before_install:
- cd ./server
- cp .env.travis .env
- composer install --dev --ignore-platform-reqs
- php artisan key:generate
- mysql -e 'CREATE DATABASE jss_placements;'
- php artisan migrate
- php artisan storage:link
script:
- mkdir -p build/logs
- php vendor/bin/phpunit tests/ --coverage-clover build/logs/clover.xml
- php vendor/bin/phpcbf --runtime-set ignore_warnings_on_exit true --standard=ruleset.xml
  app/
- php vendor/bin/phpcs --standard=ruleset.xml app/
- php artisan code:analyse --level=1
- php artisan self-diagnosis
after_script:
- php vendor/bin/coveralls -v
deploy:
  provider: heroku
  api_key:
    secure: Hh9J8Jyl6SKx2NpxL6rScmuFLnUJ0o/Yjg5PhUh/KFUgeyG5UA0TSh8ZNZXzWtVOwVy23qgcZ2c3kLed6HOskec7V476OpeNTmSWDqZHMol6lRBTeLIV1IXZukZl9KwmftQXgWYNZXYG0zE57nBzEYX/N/3eJrSlHO6tHelREwKZfIerVZOtHq2Z4dZT8g45/8sfxSscCEY3/ITxtZDFkEXnFyV5+Xp8ebTiJ/gV28Yr6SHDwBQv5PVaCfgWCOd6FuJNmJG45hEhOzLWRrRFIPkDj6F7p60fxpTAsmLebz25t8k8+Ck8JObC/LlOlbK/VPzn+nyL6RCdKFzcqY/AAazarxB9iELt6x99n4Q4EfmeAC67pc9mhMazZl4+z4+7C9H+Y3EVCO+gt9tO3hgvOxCrDjgxx5mnisroILWD16uNt9EZlLu2PjTHd6h7/a/AbqLdeFJMu4PVFWb2J4VleB9bnVJqeQTLeJZoVEIcTD0LkW88WOlqtMrmvdc4OMbM/esralVjWr/rt+unLJCY6+KLpdiZVkDMSJ0Kncc6K/I8ViRrXljFHp1T3lnNYtohyHKisdxtwYugGEyw1tHAHacVwWykasc+w5Vu4By6YSAD2LzwrigyXqOofZOoop+TBBPU8JLBiXhYoJtQctr1MvwWRq6i+SZjxo9QX+pBFWM=
  skip_cleanup: true
  app: jss-placements
  on:
    repo: jss-devs/jss-placements
    branch: master
  run:
    - "php artisan migrate"
