.noticesContainer {
  width: 100%;
}

.noticeCard {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .noticesContainer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  
  .noticeCard {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 30px;
  }
}
