.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: var(--background-color);
}

.title, .navlink {
  color: #fff;
}

.title {
  margin: 0;
}
